extends base/base.pug
block title
	| #{server.path_name.toUpperCase()} | #{replay.format} replay: #{replay.players[0]} vs #{replay.players[1]}
block nav-title
	a.navbar-brand(href=`/`) #{server.server_name}
block nav
	if server.server_url
		li.nav-item
			a.nav-link(href=`${server.server_url}`) Main Server
	if server.test_server_url
		li.nav-item
			a.nav-link(href=`${server.test_server_url}`) Test Server
	if server.dex_site_url
		li.nav-item
			a.nav-link(href=`${server.dex_site_url}`) Dex Site
	if server.discord_server_url
		li.nav-item
			a.nav-link(href=`${server.discord_server_url}`) Discord Server
block content
	a(href=`/replays/${server.path_name}`)
		button.btn.btn-outline-light Back to the Replay List
	.wrapper.replay-wrapper
		.battle
		.battle-log
		.replay-controls
		.replay-controls-2
		h1
			| #{replay.format}
			br
			a(href=`https://pokemonshowdown.com/users/${replay.players[0]}`, target="_blank").subtle #{replay.players[0]}
			| vs
			a(href=`http://pokemonshowdown.com/users/${replay.players[1]}`, target="_blank").subtle #{replay.players[1]}
		script(type="text/plain").battle-log-data
			| #{replay.log.replace(/\//g, "\\/")}
	script(defer, src=`${server.server_url}/js/replay-embed.js`)
	script(defer, nomodule, src=`${server.server_url}/js/lib/ps-polyfill.js`)
	script(defer, src=`${server.server_url}/js/lib/preact.min.js`)
	script(defer, src=`${server.server_url}/config/config.js`)
	script(defer, src=`${server.server_url}/js/lib/jquery-1.11.0.min.js`)
	script(defer, src=`${server.server_url}/js/lib/html-sanitizer-minified.js`)
	script(defer, src=`${server.server_url}/js/battle-sound.js`)
	script(defer, src=`${server.server_url}/js/battledata.js`)
	script(defer, src=`${server.server_url}/js/pokedex-mini.js`)
	script(defer, src=`${server.server_url}/js/pokedex-mini-bw.js`)
	script(defer, src=`${server.server_url}/graphics.js`)
	script(defer, src=`${server.server_url}/pokedex.js`)
	script(defer, src=`${server.server_url}/moves.js`)
	script(defer, src=`${server.server_url}/abilities.js`)
	script(defer, src=`${server.server_url}/items.js`)
	script(defer, src=`${server.server_url}/teambuilder-tables.js`)
	script(defer, src=`${server.server_url}/battle-tooltips.js`)
	script(defer, src=`${server.server_url}/battle.js`)
	script(defer, src=`https://play.pokemonshowdown.com/js/replay-embed.js?version${Math.floor(Date.now()/1000/60/60/24)}`)
	div
